<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jaxws="http://cxf.apache.org/jaxws"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://cxf.apache.org/jaxws
    http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath*:META-INF/cxf/cxf.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath*:META-INF/cxf/cxf-servlet.xml" />
	
	 <!-- 测试接口 -->
	<!--<bean id="TestCxfInterface" class="com.budget.modules.cxfInterface.TestCxfInterface" autowire="byName"/>
	<jaxws:endpoint id="getTestInfoService" implementor="#TestCxfInterface" address="/getTestInfoService" />
	 -->
	<!-- 预算接口 -->
	<bean id="BudgetIntefaceServiceImpl" class="com.budget.modules.budgetWebService.BudgetIntefaceServiceImpl" autowire="byName"/>
	<jaxws:endpoint id="BudgetIntefaceService" implementor="#BudgetIntefaceServiceImpl" address="/BudgetIntefaceService" />
	

</beans>